<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="login.css">
      <link rel="stylesheet" href="image.css">
  
</head>
 <div class ="container" span style="font-size:15px">
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
         
            <!-- Logo -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a href="#" class="navbar-brand" span style="font-size:25px">Hello_Books</a>
            </div>

            <!-- Menu Items -->
            <div>
                <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class=" nav navbar-nav navbar-right">
                <li><a href="register.html">Sign Up</a></li>
              
            </ul>

            </div>

        </div>
        </div>
    </nav>
 <!-- <div class="cont_img_back_grey">
  <img src="library.jpg">

</div>
 -->
<body class="align">

  <div class="grid">

    <form id="login"  method="POST" class="form login">

      <header class="login__header">
        <h3 class="login__title">Login</h3>
      </header>

      <div class="login__body">

        <div class="form__field">
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>

        <div class="form__field">
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>

      <footer class="login__footer">
        <input type="submit"  value="Login">
       <!-- <button class="btn_login" onclick="login"> </button>
 -->
        <p><span class="icon icon--info">?</span><a href="#">Forgot Password</a></p>
      </footer>
      </div>

    </form>

  </div>
</div>
</div>
</body>
</span>
</body>
</div>
</html>