<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  
  
      <link rel="stylesheet" href="login.css">
      <link rel="stylesheet" href="image.css">
  
</head>
<body>
 <div class="cont_img_back_grey">
  <img src="library.jpg">

</div>

<body class="align">

  <div class="grid">

    <form id="login"  method="POST" class="form login">

      <header class="login__header">
        <h3 class="login__title">Login</h3>
      </header>

      <div class="login__body">

        <div class="form__field">
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>

        <div class="form__field">
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>

      <footer class="login__footer">
        <input type="submit"  value="Login">
       <!-- <button class="btn_login" onclick="login"> </button>
 -->
        <p><span class="icon icon--info">?</span><a href="#">Forgot Password</a></p>
      </footer>
      </div>

    </form>

  </div>
</div>
</div>
</body>
</body>

</html>